﻿@{
    ViewData["Title"] = "Get to know Joel";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get to Know Joel</h1>

<p>Here are Joel's links</p>

<a href="https://www.qwcomedy.com/" target="_blank">Visit QW Comedy</a>
<br />

<a href="https://baconsale.com/" target="_blank">Visit the Baconsale Site</a>

<br />
<a href="https://baconsale.com/" target="_blank">
    <img height=300 src="~/baconsalekate.jpg" alt="baconSale" />
</a>